@model IEnumerable<StudentConsulting.Models.ConsultRequestViewModel>
@{
    ViewData["Title"] = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Queue</h1>
<div class="row">
    <div class="col-md-6">
        @if (Model.Any())
        {
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Student Name</td>
                        <td>Consulting Type</td>
                        <td>Required Time</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.QueueNumber</td>
                            <td>@item.StudentName</td>
                            <td>@item.ConsultType</td>
                            <td>@item.RequiredTime</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>There is no consultings requests yet.</p>
            <p>You can be first.</p>
        }
    </div>
    <div class="col-md-4 col-md-offset-2">
        <div>
            <h3>Details</h3>
            <br />
            <p><strong>Name:</strong>  @ViewBag.Name</p>
            <p><strong>Subject: </strong>  @ViewBag.Subject</p>
            <p><strong>Duration:</strong>  @ViewBag.Duration m</p>
            <p><strong>Date:</strong>  @ViewBag.Date</p>
        </div>
        <form asp-action="Schedule" method="post">
            <div class="form-group">
                <label for="requiredTimeInput">Required Time</label>
                <input name="requiredTime" type="number" min="0" max="100" placeholder="Minutes" id="requiredTimeInput" class="form-control" required />
                <span class="text-danger "></span>
            </div>
            <input type="hidden" name="Id" value="@ViewBag.Id" />

            <div class="form-group">
                <label for="consultTypeSelect">Consult Type</label>
                <select class="form-control" id="consultTypeSelect" name="consultType" required>
                    <option value="1">Theoretical</option>
                    <option value="2">Code</option>
                    <option value="3">Passing </option>
                </select>
                <span class="text-danger"></span>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>
    </div>
</div>

